body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.section {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* .img{
    background-image: url(/download1.jpg);
    height: 500px;
    width: 500px; 
} */
.p1 {
    background-color: aqua;
}

.foam {
    background-color:darkgoldenrod;
    text-transform: capitalize;
    text-align: center;
    margin: 1em;
    padding: auto;
}
.foam2{
    background-color: bisque;
}
.foam1{
    background-color: yellow;
}